* {
    padding: 0;
    margin: 0;
}

.navbar-section {
    background-color: #110837;
    border-bottom: 1px solid #fff;
}



.navbar-container {
    width: 98%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    gap: 40px;
}

.navbar-container-right {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 20px;
}

.navbar-container-left {
    width: 10%;
}

.navbar-container-left-logo {
    color: #ffffff;
    list-style: none;
    text-decoration: none;
    font-family: "Open Sans";
    font-size: 28px;
    cursor: pointer;
    font-weight: 500;
}

.navbar-container-right-buttons {
    display: flex; 
    flex-direction: row; 
    gap: 7px;
}


.navbar-container-right-button01 {
    border: none;
    padding: 17px 25px 17px 25px;
    font-size: 16px;
    background-color: #fff;
    color: #000000;
    font-weight: 500;
    cursor: pointer;
    border-radius: 100px;
    border: 1px solid #ffffff;
}

.navbar-container-right ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    font-family: 'Inter';
    cursor: pointer;
}

.navbar-container-right li a {
    text-decoration: none;
    color: #fff;
}

@media (max-width:900px) {
    .navbar-container-right ul li {
        display: none;
    }
}



.landing-page-section {
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75), 
    rgba(0,0,0,0.75)), url(images/sean-pollock-PhYq704ffdA-unsplash.jpg);
    background-size: cover;
    background-position: center;
}


.mainpage-container {
    padding-top: 300px;
    padding-bottom: 300px;
    width: 75%;
    margin: auto;
}

.mainpage-heading {
    font-family: "Inter";
    color: #fff;
    font-size: 70px;
    margin-bottom: 20px;
}


.mainpage-description {
    font-family: "Inter";
    color: rgb(229, 229, 229);
    font-size: 24px;
    width: 85%;
    margin-bottom: 30px;
}

.footer-section {
    background-color: rgb(244, 244, 244);
}

.footer-container {
    width: 75%;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.footer-container-text {
    font-family: "Inter";
    font-size: 15px;
    margin-top: 10px;
}



@media (max-width:500px) {
    .navbar-container {
        width: 90%;
    }
}

@media (max-width:500px) {
    .navbar-container {
        width: 90%;
    }
}

@media (max-width:1100px) {
    .mainpage-container {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media (max-width:750px) {
    .mainpage-heading {
        font-size: 50px;
    }

    .mainpage-description {
        font-size: 20px;
    }


}

@media (max-width:450px) {
    .mainpage-heading {
        font-size: 38px;
    }

    .mainpage-description {
        font-size: 18px;
    }


}


@media (min-width:1400px) {
    .mainpage-heading {
        font-size: 80px;
    }

    .mainpage-description {
        font-size: 35px;
    }


}


