* {
    padding: 0;
    margin: 0;
}

.navbar-section {
    background-color: #110837;
}



.navbar-container {
    width: 98%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    gap: 40px;
}

.navbar-container-right {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 40px;
}

.navbar-container-left {
    width: 10%;
}

.navbar-container-left-logo {
    color: #ffffff;
    list-style: none;
    text-decoration: none;
    font-family: "Open Sans";
    font-size: 28px;
    cursor: pointer;
    font-weight: 500;
}

.navbar-container-right-buttons {
    display: flex; 
    flex-direction: row; 
    gap: 7px;
}

.navbar-container-right-button01 {
    border: none;
    padding: 13px 20px 13px 20px;
    font-size: 16px;
    background-color: #4a42ff;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    border-radius: 100px;
    border: 2px solid #4a42ff;
}

.navbar-container-right-button02 {
    border: none;
    padding: 13px 20px 13px 20px;
    font-size: 16px;
    background-color: transparent;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    border-radius: 100px;
    border: 2px solid #4a42ff;
}

.navbar-container-right ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    font-family: 'Inter';
    cursor: pointer;
}

.navbar-container-right li a {
    text-decoration: none;
    color: #fff;
}

.notice-section {
    background-color: #fd9800;
}

@media (max-width:900px) {
    .navbar-container-right ul li {
        display: none;
    }
}

.notice-container {
    width: 85%;
    margin: auto;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.notice-text {
    font-family: "Inter";
    color: #fff;
    font-size: 16px;
}

.landing-page-section {
    background-color: #110837;
}

.landing-page-container {
    width: 85%;
    margin: auto;
    background-color: #110837;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
}

.landing-page-left {
    display: flex;
    align-items: center;
}

.landing-page-right {
    display: flex;
    align-items: center;
}

.landing-page-heading {
    font-family: "Inter";
    color: #ffffff;
    font-size: 60px;
    margin-bottom: 30px;
}

.landing-page-description {
    font-family: "Inter";
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
}

.landing-page-qualifications {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 30px;
}

.landing-page-qualification {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}



@media (max-width:1100px) {
    .landing-page-heading {
        font-size: 40px;
    }
}

@media (max-width:840px) {
    .landing-page-heading {
        font-size: 30px;
    }

    .landing-page-description {
        font-size: 16px;
    }

    .qualification-icon {
        width: 25px;
    }

    .navbar-container {
        width: 85%;
    }

}


@media (max-width:700px) {
    .landing-page-container {
        grid-template-columns: 1fr 0px;
    }

    .landing-page-heading {
        font-size: 60px;
    }

    .landing-page-description {
        font-size: 30px;
    }

}



.qualification-icon {
    width: 35px;
}

.qualification-text {
    font-size: 16px;
    font-family: "Inter";
    color: #fff;
    width: 100%;
}

.landing-page-button {
    border: none;
    padding: 13px 20px 13px 20px;
    font-size: 16px;
    background-color:#fd9800;
    color: black;
    font-weight: 500;
    cursor: pointer;
    border-radius: 100px;
    border: 2px solid #fd9800;

}

.landing-page-right {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: right;
}

.landing-page-image {
    width: 80%;

}

@media (min-width:1800px) {
    .landing-page-image {
        width: 60%;
    }


}


.footer {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 100px;
    background-color: rgb(255, 255, 255);
    animation-name: slideInBottom;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    padding-top: 100px;
}

.footer-logo {
    font-family: "Open Sans";
    font-size: 20px;
    color: #1c1c1c;
    font-weight: 500;
    padding-bottom: 20px;
    border-bottom: 1px solid #000000;
    margin-bottom: 20px;
}

.footer-slogan {
    font-family: "Inter";
    font-size: 17px;
    color: #000000;
    padding-bottom: 20px;
    line-height: 25px;
}

.footer-socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.social {
    width: 30px;
    cursor: pointer;
}

.footer-col {

}

.footer-col ul li {
    list-style: none;
    font-size: 17px;
    font-family: "Inter";
    color: #000000;
    cursor: pointer;
    margin-bottom: 15px;
}

.footer-col ul li a {
    text-decoration: none;
}

@media (max-width:1200px) {
    .footer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 50px;
    }
}

@media (max-width:600px) {
    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        row-gap: 50px;
    }
}

@keyframes slideInBottom {
    from {
        transform: translateY(300px);
    }

    to {
        transform: translateY(0);
    }
}

.rights-div {
    width: 85%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: "Inter";
    font-size: 17px;
    color: #000000;
    animation-name: slideInBottom;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

.hyper {
    color: #4a42ff;
}


.descr-button {
    animation-name: slideInBottom;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}